/* color
================================== */
$themeBlack: #000000;
$themeLBlack: #333333;
$themeGray: #3C3C3C;
$themeLGray: #999999;
$themeWhite: #ffffff;

/* language
================================== */
$themeEn: 'Montserrat', sans-serif;
$themeJa: 'Zen Kaku Gothic New', sans-serif;